<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-12 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-5 sm-width-full left border-top-thin">
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-4 clearfix">
        <h3 class="border-bottom-thin py-1">Who we are</h3>
        <div class="profile col-6 sm-width-full left">
          <div class="mr-4">
            <img src="{{ "assets/img/dom.jpg" }}" class="photo mt-3">
            <h2 class="mt-0">Dominic Dagradi</h2>
            <p><strong>Running for Communications Secretary</strong></p>
            <p>
              Neighborhood organizer focused on facilitating clear communication
              between leadership and membership, and building democratic platforms
              for members to communicate with each&nbsp;other.
            </p>
          </div>
        </div>
        <div class="profile col-5 sm-width-full left">
          <img src="{{ "assets/img/aaron.jpg" }}" class="photo mt-3">
          <h2 class="mt-0">Aaron Hall</h2>
          <p><strong>Running for At-Large Member</strong></p>
          <p>
            Rank-and-file labor organizer dedicated to building chapter activity
            in organized labor and broadening our base in a diverse working
            class in service of an independent mass political party.
          </p>
        </div>
      </div>

      <div class="container mx-auto px-2 mt-3 py-1 clearfix">
        <h3 class="border-bottom-thin py-1 mb-3">About Open EBDSA</h3>
        <div class="profile col-6 sm-width-full left">
          <div class="mr-4">
            <p>
              Open EBDSA is committed to fostering a true multi-tendency
              democracy in EBDSA. This entails collective decision making, open
              communication between membership and leadership, and clear avenues
              for new and minority views to be aired, debated and, with successful
              organizing on the part of their supporters, executed by our members.
            </p>
            <h4><a class="text-accent" href="/about">Why we're running »</a></h4>
            <h4><a class="text-accent" href="/platform">Our platform »</a></h4>
          </div>
        </div>
        <div class="profile col-5 sm-width-full left">
          <p>
            Like our platform? Let us know and we'll add your name to our
            list of supporters.</p>
          <div class="cognito">
            <script src="https://services.cognitoforms.com/s/mNyDBncg5kSaVz_xpkNAKg"></script>
            <script>Cognito.load("forms", { id: "1" });</script>
          </div>
        </div>
      </div>

      <div class="container mx-auto px-2 clearfix">
      </div>

      <div class="container mx-auto px-2 py-3">
        <h3 class='border-bottom-thin py-1'>Updates</h3>
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
